<header>
  <h1>Carrito de compras</h1>
</header>

{{#if cart.products.length}}
  <div class="cart-container">
    {{#each cart.products}}
      <div class="cart-item">
        <h3>{{this.product.title}}</h3>
        <p>Precio unitario: ${{this.product.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Total: ${{multiply this.product.price this.quantity}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
